<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.title}"></title>
</head>
<body>
    <div th:replace="~{layout :: content}">
        <div class="row">
            <div class="col-md-4">
                <img th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.poster_path}}" 
                     class="img-fluid movie-poster" 
                     th:alt="${movie.title} + ' poster'" 
                     th:unless="${movie.poster_path == null}"
                     src="/placeholder.jpg" 
                     th:if="${movie.poster_path == null}"/>
            </div>
            <div class="col-md-8">
                <h1 th:text="${movie.title}"></h1>
                <p><strong>Release Date:</strong> <span th:text="${movie.release_date}"></span></p>
                <p><strong>Rating:</strong> <span th:text="${movie.vote_average} + '/10'"></span></p>
                <p><strong>Overview:</strong></p>
                <p th:text="${movie.overview}"></p>
                <form th:action="@{/favorite/{id}(id=${movie.id})}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-warning">Add to Favorites</button>
                </form>
                <a href="/" class="btn btn-secondary">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>